<% include ./partials/header %>

<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/signup.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    </head>
    <body>

<!-- <div style="background-image: url('http://bit.ly/ckforest');">	
<div class="row">
   <div class="col-md-12 text-center">
	    <h1>Sign Up</h1>
	</div>	 -->
	
    <!-- <div class="col-md-3 mx-auto" > -->
        <form action="/register" method="post" class="signup-form">
			<h1>Sign Up</h1>
            <div class="txtb">
                <input class="form-control" type="text" name="username" placeholder="Username" required>
            </div>
			<div class="txtb">
                <input class="form-control" type="text" name="firstname" placeholder="Firstname" required>
            </div>
			<div class="txtb">
                <input class="form-control" type="text" name="lastname" placeholder="Lastname" required>
            </div>
			<div class="txtb">
                <input class="form-control" type="email" name="email" placeholder="Email" required>
            </div>
			<div class="txtb">
                <input class="form-control" type="text" name="avatar" placeholder="Avatar url">
            </div>
            <div class="txtb">
                <input class="form-control" type="password" name="password" placeholder="Password" required>
            </div>
			<div class="txtb">
                <input class="form-control" type="password" name="admin" placeholder="AdminCode (Optional!)">
            </div>
			<div class="txtb">
                <textarea class="txtb" name="info" placeholder="User Description..."></textarea>
            </div>
			
            <div class="txtb">
                <button class="logbtn">Sign Up!</button>
            </div>
			<a href="/index">Go Back</a>
        </form>
        
    <!-- </div> -->
<!-- </div>
</div> -->
<% include ./partials/footer %>